.activity-tabs-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.activity-tabs {
  display: flex;
  align-items: center;
}
.activity-tabs p {
  padding: 0.5rem;
  border: 2px solid green;
  border-bottom: none;
  cursor: pointer; /* Add cursor pointer for better indication */
}

.activity-tabs p:last-child {
  border-left: none;
}

.activity-tabs .selected:first-child {
  border-top-right-radius: 0;
}

.activity-tabs .selected:last-child {
  border-top-left-radius: 0;
}

.activity-tabs p:first-child {
  border-right: none;
}

.export-btn {
  position: relative;
}

.selected {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  background: green;
}

.activity-items {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.activity-items button:first-child {
  color: white;
  background: green;
}

.activity-items button:not(:first-child) {
  color: green;
  background: transparent;
  border: 1px solid green;
}

.activity-items button {
  border: none;
  cursor: pointer;
  padding: 0.4rem;
  border-radius: 5px;
}

.search-input {
  position: relative;
  width: 250px;
}

.search-input i {
  position: absolute;
  top: 16%;
  right: 5px;
}

.search-input input {
  padding: 5px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border: none;
  width: 250px;
}

.export-btn button {
  background: white !important;
  color: green !important;
  border: 1px solid green;
}

.export-btn .options {
  position: absolute;
  width: 90%;
  background: green;
  color: white;
  z-index: 9;
  top: 35px;
  padding: 0.5rem;
  text-align: center;
}

.options p:first-child {
  border-bottom: 1px solid white;
}

.options p {
  cursor: pointer;
  padding: 0.5rem;
}

.option:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: 8px;
  bottom: auto;
  border: 32px solid;
  border-color: green transparent transparent transparent;
}

.options:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: 5px;
  rotate: -90deg;
  right: auto;
  top: -8px;
  bottom: auto;
  border: 22px solid;
  border-color: green transparent transparent transparent;
}

.settings-container {
  position: relative;
}

.settings-container .settings {
  position: absolute;
  right: 0;
  top: 35px;
  background: green;
  color: white;
  z-index: 4;
  width: 150px;
}

.settings-container .settings {
  padding: 0.5rem;
}

.settings-container .settings div {
  padding: 0.5rem;
}

.settings-container .settings div span {
  cursor: pointer;
}
