<div class="table-container">
  <app-tabs [tab]="tab" [click]="setTab"></app-tabs>
  <app-activity-tabs
    [showAdd]="handleAdd.bind(this)"
    [innerTab]="innerTab"
    [click]="setInnerTab.bind(this)"
    [downloadAll]="exportToCsv.bind(this)"
    [downloadShown]="exportVisibleData.bind(this)"
    [headers]="headers"
    [showSettingsF]="clickData.bind(this)"
  ></app-activity-tabs>
  <app-grid-component
    [rowData]="
      innerTab == 'all'
        ? rearrangedUsers
        : innerTab == 'active'
        ? activeUsers
        : inactiveUsers
    "
    [gridOptions]="gridOptions"
    [colDefs]="colDefs"
    (gridReady)="onGridReady($event)"
  ></app-grid-component>
</div>
<div *ngIf="showAdd == true" class="create-container">
  <app-create-user
    [hideShow]="hideAdd"
    [handleHide]="hideAddF.bind(this)"
  ></app-create-user>
</div>
