<nav class="navbar">
  <div class="navbar-container">
    <div class="items">
      <img src="assets/584959.png" alt="myLogo" height="50px" width="100px" />
      <ul>
        <li><a href="#">INBOX</a></li>
        <li><a href="#">HISTORY</a></li>
        <li><a href="#">SCHEDULER</a></li>
        <li><a href="#">CLIENT</a></li>
        <li><a href="#">CONTACT</a></li>
        <li class="selected">
          <a href="/admin">ADMIN <i class="fa-solid fa-chevron-down"></i></a>
        </li>
        <li><a href="#">DASHBOARD</a></li>
      </ul>
    </div>
    <div class="inputs">
      <div class="search-input">
        <input
          type="text"
          name=""
          id=""
          class="search"
          placeholder="Email Search"
        />
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <div class="search-input">
        <select
          type="text"
          name=""
          id=""
          class="search"
          placeholder="Email Search"
        >
          <option value="0">Some Value</option>
          <option value="1">Other Value</option>
          <option value="2">Different Value</option>
        </select>
      </div>
      <i class="fa-regular fa-circle-question"></i>
      <div class="bell">
        <i class="fa-solid fa-bell"></i>
        <span class="bolt"></span>
      </div>
      <i class="fa-solid fa-right-from-bracket"></i>
      <div class="user-data">
        <i class="fa-solid fa-circle-user"></i>
        <p>Username</p>
      </div>
    </div>
  </div>
</nav>
