.table-container {
  width: 95%;
  margin: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #dddddd;
  border-top: 3px solid green;
}

td,
th {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 12px;
}
tr div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

td {
  font-size: 0.8rem;
}

thead th {
  font-weight: 600;
  font-size: 0.8rem; /* Slightly increased font size for better readability */
  border: 1px solid #dddddd;
  background: rgb(244, 241, 241);
  position: relative;
}

thead th i {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: lightgray;
}

.create-container {
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.509);
  position: fixed;
  z-index: 9;
  overflow-y: hidden !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.actions {
  display: flex;
  align-items: center;
  padding: 14px;
}

.actions i {
  cursor: pointer;
  margin-left: 5px;
}
